---
permalink: /
layout: 'general.njk'
---

{% set chapters = collections.chapter %}
{% for chapter in chapters %}
    <h2><a href="{{ chapter.url | url }}">Розділ {{ chapter.data.number }}. {{ chapter.data.title }}</a></h2>
    {% set chapterName = ["chapter-", chapter.data.string] | join %}
    {% set taglist = collections[ chapterName ] %}
    {% for post in taglist %}
        <h3><a href="{{ post.url | url }}">Стаття {{ post.data.number }}</a></h3>
        {{ post.templateContent | safe }}
    {% endfor %}
{% endfor %}
