---
layout: 'general.njk'
---

<h1>{{ title }}</h1>
{% set chapterName = ["chapter-", string] | join %}
{% set taglist = collections[ chapterName ] %}
{% for post in taglist %}
    <h2><a href="{{ post.url | url }}">Стаття {{ post.data.number }}</a></h2>
    {{ post.templateContent | safe }}
{% endfor %}
